{% load static %}
<html>
  <head>

    <title> Guillermo Blog </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//db.onlinewebfonts.com/c/454eeab0ee4d77fef39d7d828f54f511?family=Drawing+Guides" rel="stylesheet" type="text/css"/


  </head>
  <body>

    <div>

      <div class="banner_titulo">
        <h1><a href="/">Guillermo Blog </a></h1>
      </div>

      <div class = "content container">
        <div class="row">
          <div class="col-md-8">
            {% for post in posts %}
            <div class="post">
              <div class="date">
                <p>{{post.published_date}}</p>
              </div>
              <h2><b herf = "" >{{post.title}}</a></h2>
              <p> {{post.text|linebreaksbr}}</p>
            </div>
            {% endfor%}
          </div>
        </div>
      </div>

  </body>
</html>
